
.vs/CursoCSharp/DesignTimeBuild/.dtbcache.v2
bin/Debug/netcoreapp3.1/CursoCSharp.exe
bin/Debug/netcoreapp3.1/CursoCSharp.dll
bin/Debug/netcoreapp3.1/CursoCSharp.pdb
bin/Debug/netcoreapp3.1/CursoCSharp.deps.json
.vs/CursoCSharp/v16/.suo
bin/Debug/netcoreapp3.1/CursoCSharp.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/CursoCSharp.runtimeconfig.json
obj/CursoCSharp.csproj.nuget.dgspec.json
obj/CursoCSharp.csproj.nuget.g.props
obj/CursoCSharp.csproj.nuget.g.targets
obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Debug/netcoreapp3.1/apphost.exe
obj/Debug/netcoreapp3.1/CursoCSharp.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/CursoCSharp.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/CursoCSharp.assets.cache
obj/Debug/netcoreapp3.1/CursoCSharp.csproj.AssemblyReference.cache
obj/Debug/netcoreapp3.1/CursoCSharp.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/CursoCSharp.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/CursoCSharp.dll
obj/Debug/netcoreapp3.1/CursoCSharp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/netcoreapp3.1/CursoCSharp.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/CursoCSharp.pdb
obj/project.assets.json
obj/project.nuget.cache
